
.nav{
  height: 80px;
  background: linear-gradient(to right,  #005082 0%,#00a0c8 100%);
}
.nav .city{
  font-size: 40px;
  color: #fff;
  line-height: 70px;
  padding-left: 30px;
}

.footer{
  text-align: center;
  color: #fff;
  font-size: 16px;
  height: 30px;
  background: linear-gradient(to right,  #005082 0%,#00a0c8 100%);
}
.footer a{
  color: #fff;
  text-decoration: none;
}